* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px 5px red;
    color: red;
}

header {
    padding: 40px;
    background-color: black;
    background-image: url("https://i.ibb.co/sWqrzFq/sports-tools-53876-138077.jpg");
}

nav {
    background-color: rgba(40, 117, 5, 0.918);
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

main {
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
.bg{
    background-image: url("brain.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
h2 {
    padding: 20px;
    margin: 5px;
    color: white;
}
li.left{
    text-align: left;
    padding:20px;
    margin-right: 25%;
    border:25px solid greenyellow;
    background-color: black;
}
li.right{
    text-align: right;
    padding: 20px;
    margin-left:25%;
    border:25px solid rgb(247, 70, 39);
    background-color: black;
}
button{
    background-color: rgba(247, 244, 224, 0.925); 
    border: none;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    float: right;
    text-decoration: none;
    display:flex;
}

